@page
@model BishalAgroSeed.Pages.GalleryModel
@{
}

<div class="row">
    <div class="col-12 mb-4">
        <h2 class="text-center">
            Gallery
        </h2>
    </div>
    <div class="col-4 mb-3">
        <img src="~/images/image_0.jpg" width="300" height="300" />
    </div>
    <div class="col-4 mb-3">
        <img src="~/images/image_1.jpg" width="300" height="300" />
    </div>
    <div class="col-4 mb-3">
        <img src="~/images/image_2.jpg" width="300" height="300" />
    </div>
    <div class="col-4 mb-3">
        <img src="~/images/image_3.jpg" width="300" height="300" />
    </div>
    <div class="col-4 mb-3">
        <img src="~/images/image_4.jpg" width="300" height="300" />
    </div>
    <div class="col-4 mb-3">
        <img src="~/images/image_5.jpg" width="300" height="300" />
    </div>
    <div class="col-4 mb-3">
        <img src="~/images/image_6.jpg" width="300" height="300" />
    </div>
</div>