<div class="card">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col col-6">
                <h5 class="card-title">{{ '::Menu:CycleCountDetails' | abpLocalization}}</h5>
            </div>
            <div class="col col-6 text-end">
                <button class="btn btn-primary" type="button" (click)="bulkUpdate()"
                    *abpPermission="'BishalAgroSeed.CycleCounts.Edit'">{{'::Update' | abpLocalization}}</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <ngx-datatable [rows]="data.items" [count]="data.totalCount" [list]="list" default>
            <ngx-datatable-column [name]="'::CCINumber' | abpLocalization" prop="cciNumber"></ngx-datatable-column>
            <ngx-datatable-column [name]="'::ProductName' | abpLocalization" prop="productName"></ngx-datatable-column>
            <ngx-datatable-column [name]="'::SystemQuantity' | abpLocalization" prop="systemQuantity"></ngx-datatable-column>
            <ngx-datatable-column [name]="'::PhysicalQuantity' | abpLocalization" prop="physicalQuantity">
                <ng-template let-row="row" ngx-datatable-cell-template>
                        <input type="number" class="form-control" [(ngModel)]="row.physicalQuantity" />
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [name]="'::Remarks' | abpLocalization" prop="remarks">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <textarea class="form-control" [(ngModel)]="row.remarks" rows="2"></textarea>
                </ng-template></ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>