<div class="card">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col col-6">
                <h5 class="card-title">{{ '::Menu:Categories' | abpLocalization}}</h5>
            </div>
            <div class="col col-6 text-end">
                <button class="btn btn-primary" type="button" (click)="create()"
                    *abpPermission="'BishalAgroSeed.Categories'">{{'::New' | abpLocalization}}</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <ngx-datatable [rows]="data.items" [count]="data.totalCount" [list]="list" default>
            <ngx-datatable-column [name]="'::Actions' | abpLocalization" [maxWidth]="150" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div ngbDropdown container="body" class="d-inline-block">
                        <button class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" ngbDropdownToggle>
                            <i class="fa fa-cog me-1"></i> {{'::Actions' | abpLocalization}}
                        </button>
                        <div ngbDropdownMenu>
                            <button (click)=" edit(row.id)" ngbDropdownItem
                                *abpPermission="'BishalAgroSeed.Categories.Edit'">
                                {{'abpAccount::Edit' | abpLocalization}}
                            </button>
                            <button (click)="delete(row.id)" ngbDropdownItem
                                *abpPermission="'BishalAgroSeed.Categories.Delete'">
                                {{ 'AbpAccount::Delete' | abpLocalization}}
                            </button>
                        </div>
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [name]="'::DisplayName' | abpLocalization" prop="displayName"></ngx-datatable-column>
            <ngx-datatable-column [name]="'::ParentName' | abpLocalization" prop="parentName"></ngx-datatable-column>
            <ngx-datatable-column [name]="'::IsActive' | abpLocalization" prop="isActive"></ngx-datatable-column>

        </ngx-datatable>
    </div>
</div>

<abp-modal [(visible)]="isModalOpen" [options]="{size: 'md'}">
    <ng-template #abpHeader>
        <h5>{{(selected.id ? '::Edit' : '::New') | abpLocalization }}</h5>
    </ng-template>

    <ng-template #abpBody>
        <form id="form" [formGroup]="form" (ngSubmit)="save()">
            <div>
                <label for="display-name" class="form-label">{{'::DisplayName' | abpLocalization}}</label>
                <span>*</span>
                <input type="text" id="display-name" class="form-control" formControlName="displayName" autofocus />
            </div>
            <div class="mt-2">
                <label class="form-label">{{'::ParentName' | abpLocalization}}</label>
                <ng-select [items]="categories" formControlName="parentId" bindLabel="name" bindValue="value"></ng-select>
            </div>
            <div class="mt-2 form-check">
                <label for="is-active" class="form-check-label">{{'::IsActive' | abpLocalization}}</label>
                <input type="checkbox" id="is-active" class="form-check-input" formControlName="isActive" />
            </div>
        </form>
    </ng-template>

    <ng-template #abpFooter>
        <button type="button" class="btn btn-secondary" abpClose>
            {{'::Cancel' | abpLocalization}}
        </button>
        <button class="btn btn-warning" form="form" [disabled]="form.invalid"> {{'::Save' | abpLocalization}}</button>
    </ng-template>

</abp-modal>