@page
@model BishalAgroSeed.Pages.AboutUsModel
@{
}
<h3>About US</h3>
<br />
<br />
<p>
    Bishal Agro seed was founded in 2005 AD. Our company is located at Syuchatar, Kathmandu.
    Our company main markets are Dhading, Chitwan and Kathmandu. Our main products are crop seeds, fertilizer and pesticides.

</p>