@page
@model BishalAgroSeed.Pages.ContractUsModel
@{
}

<h3>Contract US</h3>
<br />
<br />
<h5 class="text-center"> Bishal Agro Seed</h5>
<br />
<dl class="row">
    <dt class="col-2">Location:</dt>
    <dd class="col-10">Syuchatar, Kathmadu</dd>
    <dt class="col-2">Phone:</dt>
    <dd class="col-10">9843596427</dd>
    <dt class="col-2">Email:</dt>
    <dd class="col-10">thapaliyabikendra@gmail.com</dd>
</dl>