<div class="card">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col col-6">
                <h5 class="card-title">{{ '::Filter' | abpLocalization}}</h5>
            </div>
            <div class="col col-6 text-end">
                <i class="fa fa-filter" (click)="toggleFilter()"></i>
            </div>
        </div>
    </div>
    <div [ngClass]="showFilter ? '' : 'd-none'" class="card-body pt-1">
        <div class="row">
            <div class="col-3">
                <br />
                <button *abpPermission="'BishalAgroSeed.Trade'" class="btn btn-secondary" (click)="getData()">
                    {{'::Search' | abpLocalization}}
                </button>
                <button class="btn btn-warning ms-1" (click)="clearFilter()">
                    {{'::Clear' | abpLocalization}}
                </button>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col col-6">
                <h5 class="card-title">{{ '::Menu:Trades' | abpLocalization}}</h5>
            </div>
        </div>
    </div>
    <div class="card-body pt-0">
        <div class="row align-items-center">
            <div class="col-12 text-end mb-2">
                <button class="btn btn-primary me-1" type="button" (click)="export()">
                    {{'::New' | abpLocalization}}</button>
                <button class="btn btn-primary" type="button" (click)="export()">
                    {{'::Export' | abpLocalization}}</button>
            </div>
            <div class="col-12">
                <ngx-datatable [rows]="data.items" [count]="data.totalCount" default>
                </ngx-datatable>
            </div>
        </div>
    </div>
</div>